body {
  font-family: Trajana Sans !important;
  font-weight: lighter !important;
}

h1,
h2 {
  margin: 0 !important;
  margin-bottom: 10px !important;
}

h2 {
  font-size: 15px !important;
}
i {
  font-size: 80px;
  padding: 10px;
  margin: 10px;
}

p {
  margin: 0 !important;
  text-align: center !important;
  color: #5d534a !important;
}
