.btn {
  background: lightsteelblue !important;
  color: #5d534a !important;
  border-color: grey !important;
}
.btn:hover {
  background: #5d534a !important;
  color: whitesmoke !important;
}
.card {
  border-color: grey !important;
  border-radius: 10px !important;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%) !important;
  background-color: rgb(176, 196, 222) !important;
}
.outerCard {
  box-shadow: #5d534a !important;
  background: #e4cda78e !important;
}
.form-control {
  background: whitesmoke !important;
  border-color: grey !important;
}

.form-inline {
  display: block;
  margin-bottom: 20px;
  border-color: grey !important;
}
.currentCity {
  color: #5d534a !important;
}

#current-city {
  text-align: left !important;
}

.moreInfo {
  margin: 20 !important;
  text-align: left !important;
}

.container {
  margin: 30px auto;
  max-width: 600px !important;
}
.card {
  padding: 20px;
  border-radius: 40px;
  word-wrap: normal !important;
}
.currentCityData {
  font-size: 30px;
}

#descr {
  margin: 0 !important;
}

.lastUpdated {
  text-align: left !important;
  vertical-align: bottom !important;
}

#current-time {
  text-align: left !important;
}
.weather-forecast {
  text-align: center;
}

.weather-forecast-date {
  opacity: 0.8;
}
.weather-forecast-temperature-min {
  opacity: 0.8;
}
